.btn {
    color: rgb(50, 103, 201);
    background-color: rgb(240, 236, 237);
    border-radius: 5px;
}

/* align h1  and fix font */
header {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 60%;
font-weight: bold;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


h1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    color: rgb(50, 103, 201);
    
}
#title {
    font-size: 20pt;
}
/* add background image */
html {
    background-image: url(pexels-donald-tong-66134.jpg);
}

/* Edit "movie questionaire" - quiz-title */
.quiz-title {
    text-decoration: underline;
}

/* Edit start question button */
#start-button {
   border-radius: 5px;
   background-color: rgb(50, 103, 201);
   color: rgb(240, 236, 237);
}

/* fix border */
#homepage {
    color: rgb(50, 103, 201);
    background-color: rgb(240, 236, 237);
    width: 450px;
    border-style: groove;
    padding: 50px;
    border-width: 20px;
    border-color: rgb(50, 103, 201);
    text-align: center;
    margin: auto;
    line-height: 20pt;
}

/* align title/header and nav links*/
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 400px;
    text-decoration: underline;
    color: rgb(50, 103, 201);
    line-height: 50pt;
}

/* center all buttons */
.hide {
    text-align: center;
    color: rgb(50, 103, 201);
}

/* add scroll bar */
