.btn {
    color: white;
    background-color:crimson ;
    border-radius: 5px;
}

header {
    display: flex;
}

/* add background image */
html {
    background-image:url(movie\ background.jpg);
}

/* align title/header and nav links inline */


/* add font color */
