.btn {
    color: rgb(50, 103, 201);
    background-color:rgb(240, 236, 237) ;
    border-radius: 5px;
}

header {
    display: flex;
    
    color: rgb(50, 103, 201);
}

/* add background image */
html {
    background-image:url(movie\ background.jpg);
}

.hide {
    display: none;
}
/* align title/header and nav links inline */


/* add font color */

#homepage,
#questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
